{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{%static 'styles/login.css' %}">
</head>
<body>
	<form action="login" method="POST">
		<div class="login-box">
			{% csrf_token %}
			<h1>Login</h1>
			<div class="textbox">
				<i class="fa fa-user" aria-hidden="true"></i>
				<input type="text" name="username" placeholder="username">
			</div>
			<div class="textbox">
				<i class="fa fa-lock" aria-hidden="true"></i>
				<input type="password" name="password" placeholder="password">
			</div>
			<input class="btn" type="submit" value="Sign in">
			If you don't have an account <a href="register" style="color:red;" target="blank">Register</a> for one.
		</div>

	</form>

	<div>
		{% for message in messages %}
		<h3>{{message}}</h3>
		{% endfor %}
	</div>

</body>
</html>